<div>
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark"> 
        <a href="#" class="navbar-brand">Gradile</a> 
    <div class="navbar-nav mr-auto"> 
        <li class="nav-item"> 
            <a routerLink="list" class="nav-link">Matters</a> 
        </li>
        <li class="nav-item"> 
            <a routerLink="create" class="nav-link">Create matter</a> 
        </li> 
        <li class="nav-item"> 
            <a routerLink="autonumber" class="nav-link">Auto number</a> 
        </li>
        <li class="nav-item"> 
            <a routerLink="details/" class="nav-link">Details</a> 
        </li>
    </div> 
    </nav>  -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="list" class="nav-link">Matters</a> 
        </li>
        <li class="nav-item">
            <a routerLink="create" class="nav-link">Create matter</a> 
        </li>
        <li class="nav-item">
            <a routerLink="autonumber" class="nav-link">Auto number</a> 
        </li>
        <li class="nav-item">
          
          <a routerLink="details/" class="nav-link">Details</a> 
        </li>
      </ul>
</div>

<router-outlet></router-outlet> 
