<div>

    <div class="container">
        <div>
            <div class="card" *ngFor="let matter of matters">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            {{matter.case_number_id}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_file_number}}
                        </div>
                        <div class="col-md-4">
                            {{matter.case_first_name}}&nbsp;
                            {{matter.case_last_name}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_subcategory}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_creation_date}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_closed_date}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_box}}
                        </div>
                        <div class="col-md-2">
                            {{matter.case_author}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary"
                                (click)="deleteMatter(matter.case_number_id)">Delete</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" (click)="selectMatter(matter)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
